<html>

<head>
    <style></style>
</head>

<body>
    <p>Hi {{name}},</p>
    <p>You've recently requested to reset your password.</p>
    <h1>Your verification code is: <br>{{code}}</h1>
    <p>Please use this code within the next 10 minutes to finish confirming your email.</p>
</body>

</html>